Repository wahern/cqueues, pull requests merged in 2019-07, with the labels that each got.

#224 src/lib/dns.h: Fix compilation in GCC 9
  src/lib/dns.h
Labels: component: dns, packaging/portability

#195 src/socket.c: Allow passing bind.path for binding unix socket
  regress/194-bind-unix.lua
  src/socket.c
Labels: component: socket, enhancement

#200 Bring in dns.c fixes
  src/lib/dns.c
Labels: bug, component: dns, packaging/portability

#219 document socket.fdopen
  doc/cqueues.pdf
  doc/cqueues.tex
Labels: component: socket, documentation

#169 src/socket.c: Refactor lso_accept() to not use cqs_socket_fdopen
  src/socket.c
Labels: bug, component: socket

#196 workaround libressl partially opaque SSL*
  src/lib/socket.c
Labels: component: socket, packaging/portability

#225 Add workaround for LuaJIT not supporting >47bit pointers
  src/cqueues.c
  src/cqueues.h
  src/socket.c
  src/thread.c
Labels: component: core, enhancement, packaging/portability
